if SHIELD_ORTHOPAD43_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ORTHOPAD43_LEFT


if SHIELD_ORTHOPAD43_LEFT || SHIELD_ORTHOPAD43_RIGHT

config ZMK_KEYBOARD_NAME
    default "orthopad43"

config ZMK_SPLIT
   default y

endif # SHIELD_ORTHOPAD43_LEFT || SHIELD_ORTHOPAD43_RIGHT
